*{ 
    box-sizing: border-box;
}
#banner{
    width: 100%;
}

img{
    width: 100%;
}
.hinhanh div {
    width: 33.3333%;
    float: left;
    padding: 10px;
}
#main-menu a{
    display: block;
    text-align: center;
    font-size: 30px;
   color: red;
    background-color: white;
     height: 70px;
   text-decoration: none;
}
a{
    max-width: 100%;
}
#poor{
    max-width: 900px;
    margin: auto;
}