body {
  background-color: gray;
}
input{
width: 500px;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}
/* select {
  height: 30px;
  width: 204px;
} */

input#male {
  width: 15px;
  height: 15px
}
input#famale {
  width: 15px;
  height: 15px;
}
div {
  display: flex;
  align-items: baseline;
  width:250px;
  margin-top: 5px;
}
label{
  padding-left: 7px;
}
input[type="submit"]{
  cursor: pointer;
}
input[type="submit"]:hover{
  background-color: aquamarine
}