html,body{margin: 0;padding: 0;}
*{box-sizing: border-box;}
img{
    width: 100%;
    height: 500px; 
    border : 3px solid #F8DEBD;
}

@keyframes title {
    0%  {background-color: #EF7126; color: #F9E559;}
    25%  {background-color: #6F3662; color: #FFFFFF;}
    50%  {background-color: #9F6164; color: #F8DEBD;}
    75%  {background-color: #44B3C2; color: #FFFFFF;}
    100% {background-color: #218C8D; color: #F9E559;}
}

h1 {
	animation: title 5s ease infinite;
}
p{
    float: right;   
}
h1{
    margin: 25px 0;
    font-size: 3em;
    line-height: 2em;
    font-family: Verdana ;
    text-transform: uppercase;
    letter-spacing: 8px;
    color: red;
    text-align: center;
}
.poor{
    max-width: 1200px;
    margin: auto;
   
}
.nude1,.nude2,.nude3,.nude4,.nude5,.nude6{
    float: left;
    width: 33.33333%;
    padding: 15px;
    position: relative;
    perspective: 800px;
}
.anh1 img, .anh2 img,.anh3 img{
    vertical-align: middle;
}
.anh4 img, .anh5 img,.anh6 img{
    vertical-align: middle;
}
.anh1 img,.anh4 img{
opacity: 1;
transition: opacity 0.5s linear;
}
.anh1:hover img{
opacity: 0.5;
}
.anh1:hover{
    transform: translate(0, -5px);
    box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 2);
}
.anh2:hover img{
    transform: scale(1.3);
    opacity: 0.7;
}
.anh2{
    overflow: hidden;
}
.anh3:hover img{
    transform: rotate(360deg);
    transition-duration: 1s;
}
@keyframes credit{
    0% {opacity: 1;margin-right: 100px;}
    20%{opacity: 0.8;margin-right: 200px;}
    40%{opacity: 0.6;margin-right: 300px;}
    60%{opacity: 0.4;margin-right: 400px;}
    80%{opacity: 0.2;margin-right: 500px;}
    100% {opacity: 0;margin-right: 600px;}
}
.test p{
    animation: credit 5s linear infinite;
}
.anh4:hover{
    transform: translate(0, -5px);
    box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 2);
}
.anh4:hover img{
    opacity: 0.5;
}
.anh5:hover img{
        transform: scale(1.3);
        opacity: 0.7;
}
.anh5{
        overflow: hidden;
}
.anh6:hover img{
    transform: rotate(360deg);
    transition-duration: 1s;
}